.Body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
    /*filter: blur(150px);*/
    margin-bottom: auto;


}

.ContainerLeftStyle {
    margin-left: 25px;
}


.ContainerLeft {
    display: grid;
    align-content: center;
    backdrop-filter: blur(150px);

}


.ContainerRight {
    display: grid;
    backdrop-filter: blur(150px);


}

.Logo {
    min-width: auto;
    min-height: auto;
    max-width: 421px;
    max-height: 421px;
    margin-left: 70px;
    margin-top: 20px;

}

.MeLogo {
    z-index: 1;


}


.ellipseBody1 {
    margin-top: 20px;
    margin-bottom: -700px;
    margin-left: 60px;


    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 89px solid #03b2fd;
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));


}

.IconReactBackground {
    width: 45px;
    height: 45px;
    display: flex;
    margin-left: 120px;

    border-radius: 50%;
    border: 40px solid #03fd07;
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
    justify-content: center;
    align-items: center;

}

.IconReact {
    width: 45px;
    height: 45px;


}

.IconReduxBackground {
    width: 45px;
    height: 45px;
    display: flex;
    position: absolute;
    margin: 10px 0 0 150px;

    border-radius: 50%;
    border: 40px solid #fa7a7a;
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
    justify-content: center;
    align-items: center;

}

.IconRedux {
    width: 45px;
    height: 45px;


}

.IconTSBackground {
    width: 45px;
    height: 45px;
    display: flex;
    position: absolute;
    margin: 40px 0 0 430px;

    border-radius: 50%;
    border: 40px solid #00bcd4;
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
    justify-content: center;
    align-items: center;

}

.IconTS {
    width: 45px;
    height: 45px;


}

.IconJSBackground {

    width: 45px;
    height: 45px;
    display: flex;
    position: absolute;
    margin: 420px 0 0 400px;
    z-index: 2;

    border-radius: 50%;
    border: 40px solid #f9a825;
    filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.25));
    justify-content: center;
    align-items: center;

}

.IconJS {
    width: 45px;
    height: 45px;

}

@media (max-width: 700px) {
    .Body {
        grid-template-columns: 1fr;
    }


    .ContainerRight {
        backdrop-filter: none;
        position: fixed;
        margin-left: 300px;
        max-width: 50%;
        max-height: 50%;
    }


    .ellipseBody1 {
        display: none;
    }

    .IconReactBackground {
        display: none;
    }

    .IconReduxBackground {
        display: none;
    }

    .IconTSBackground {
        display: none;
    }

    .IconJSBackground {
        display: none;
    }


}