html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    background: var(--color-background);
    /*min-width: 650px;*/


    color: var(--color-black-lite);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.card_container {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 20px;
    margin-bottom: 150px;
    margin-top: 50px;

}

.git_card_container {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 20px;
    margin-bottom: 0;
    margin-top: 50px;
    background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
    backdrop-filter: blur(150px);
}

@media (max-width: 900px) {
    .card_container {
        grid-template-columns: 270px 270px 270px;
        grid-gap: 20px;
    }

    .git_card_container {
        grid-template-columns: 270px 270px 270px;
        grid-gap: 20px;
    }
}

@media (max-width: 700px) {
    .card_container {
        grid-template-columns: 200px 200px;
        grid-gap: 20px;
    }

    .git_card_container {
        grid-template-columns: 200px 200px;
        grid-gap: 20px;
    }

    .ellipse-about-1 {
        display: none;

    }

    .ellipse-about-2 {
        margin-left: -300px;
        display: none;

    }

    .ellipse-about-3 {
        margin-left: -480px;
        display: none;

    }

    .about-card {
        grid-template-columns: none;


    }


}


:root {
    --color-background: linear-gradient(180deg, rgba(187, 133, 255, 0.14) 0%, rgba(255, 177, 222, 0.14) 100%);
    --color-background-card: #F4FFED;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #666666;
    --color-black-lite: #25202F;
    --color-gray-lite: #47444E;
    --color-purple: #8643DC;
    --font-family: Nunito, sans-serif;

}
