.Git {
    display: grid;
    grid-template-columns: 1fr;
    width: 270px;
    height: 270px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.47);
    border-radius: 29px;
    background: var(--color-background-card);
    position: relative;
    margin-left: 25px;
    margin-top: 10px;


}

.Git:last-child {
    margin-bottom: 150px;
}

.GitIcon {
    width: 100px;
    height: 100px;
    max-height: 60px;
    margin: 55px 90px 25px auto;
    justify-content: center;
    align-items: center;


}

.GitDesc {
    text-align: center;

    justify-content: center;
    align-items: center;
}

.GitTitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
    font-style: normal;

    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.GitLink {

    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .Git {
        width: 200px;
        height: 200px;
        margin-left: 30px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .GitIcon {
        width: 60px;
        height: 60px;
        max-height: 40px;
        margin: 40px 80px 5px 3em;

    }

    .GitDesc {
        display: none;
    }

    .GitTitle {
        margin-top: 50px;
    }
}



